@import "variables";

h1 {
  color: $red-color;
}

h2 {
  color: green;
}
.card-course-item {
  margin-top: 16px;
}
.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4p;
}
.checkbox-selecT-all-options {
  width: 160px;
  margin: 0 16px;
}
